<div class="inbox-container col-sm-10 col-sm-offset-1">
  <div><h3>Inbox</h3></div>
  <% @conversations.each do |conversation| %>
    <div class="inbox-card">
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>

        <% if conversation.sender_id == current_user.id %>
          <% @recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% @recipient = User.find(conversation.sender_id) %>
        <% end %>

        <%= cl_image_tag @recipient.image, crop: :fill, class: "card-user avatar-large" %>

        <%= link_to(conversation_messages_path(conversation)) do %>
          From: <%= @recipient.first_name.capitalize %>
        <% end %>

      <% end %>
    </div>
  <% end %>
</div>
