<div class="inbox-container col-sm-10 col-sm-offset-1">

  <div class="inbox">
    <div>
      <p>Messages List:</p>
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% @recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% @recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to(conversation_messages_path(conversation)) do%>
            <div class="contact">
              <%= @recipient.first_name.capitalize %>
            </div>
          <% end %>
        <% end %>
        <%= render 'messages/index', messages: conversation.messages, conversation: conversation %>
      <% end %>
    </div>
  </div>
</div>
