<div class="banner" >
  <div class="banner-content">
    <h1>My Scooter</h1>
<!--     <p>Scoot the world</p>
 -->    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Yellow Vespa in Canggu...">
          <span class="input-group-btn" >
            <a href="/scooters" class="btn btn-danger" role="button" >Go!</a>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <p> Exploring the world, one scooter at a time </p>
<!--     <a class="btn btn-danger btn-lg">Browse scooters</a> -->
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="homecard">
        <div class="homecard-image">
          <%= image_tag 'bali_scooter.jpg'  %>
        </div>
        <div class="homecard-description">
          <h2>Scooters</h2>
        </div>
<!--         <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="homecard-trip-user avatar-large"/> -->
      </div>
    </div>

      <div class="col-xs-12 col-sm-4">
        <div class="homecard">
          <div class="homecard-image">
            <%= image_tag 'moto_custom.jpg' %>
          </div>
          <div class="homecard-description">
            <h2>Custom</h2>
          </div>
          <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="homecard-trip-user avatar-large"/> -->
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="homecard">
          <div class="homecard-image">
            <%= image_tag 'moto_racing.jpg' %>
          </div>
          <div class="homecard-description">
            <h2>Moto</h2>
          </div>
          <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="homecard-trip-user avatar-large"/> -->
        </div>
      </div>

    </div>
</div>







