<h1>Here be the scoots</h1>

<ol>
<% @scooters.each do |scooter| %>
  <li>
    <%= link_to(scooter) do %>
      <%= scooter.make %>
      <%= scooter.model %>
      | Price Per Day:
      <%= scooter.price %>
    <% end %>
  </li>
  <% end %>
</ol>
